@import url("https://fonts.googleapis.com/css?family=Muli");
html body {
  position: relative;
  background-color: #ffffff; }
  html body #root #Routes .Topnavigation {
    position: fixed;
    left: 200px;
    right: 0;
    height: 60px;
    background-color: #f1f2f6;
    z-index: 1;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }
    html body #root #Routes .Topnavigation .Auth-btn {
      position: absolute;
      right: 10px; }
      html body #root #Routes .Topnavigation .Auth-btn a:hover {
        text-decoration: none; }
  html body #root #Routes .Sidenavigation {
    position: relative;
    font-size: 15px;
    font-family: 'Muli', sans-serif; }
    html body #root #Routes .Sidenavigation .Menu-nav {
      position: fixed;
      width: 200px;
      height: 100vh;
      background-color: #f1f2f6;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4); }
      html body #root #Routes .Sidenavigation .Menu-nav .Title {
        height: 60px;
        text-align: center; }
        html body #root #Routes .Sidenavigation .Menu-nav .Title span {
          font-size: 25px;
          line-height: 60px; }
      html body #root #Routes .Sidenavigation .Menu-nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0; }
        html body #root #Routes .Sidenavigation .Menu-nav ul .li {
          height: 50px;
          padding-left: 10px; }
          html body #root #Routes .Sidenavigation .Menu-nav ul .li:hover {
            background-color: #e0e2eb; }
          html body #root #Routes .Sidenavigation .Menu-nav ul .li a {
            color: #474f52;
            line-height: 50px;
            cursor: pointer; }
            html body #root #Routes .Sidenavigation .Menu-nav ul .li a:hover {
              text-decoration: none; }
        html body #root #Routes .Sidenavigation .Menu-nav ul .Dropdown-nav .Dropdown-li-title {
          position: relative;
          height: 50px;
          padding-left: 10px; }
          html body #root #Routes .Sidenavigation .Menu-nav ul .Dropdown-nav .Dropdown-li-title:hover {
            background-color: #c1c5d7; }
          html body #root #Routes .Sidenavigation .Menu-nav ul .Dropdown-nav .Dropdown-li-title span {
            color: #474f52;
            line-height: 50px;
            cursor: pointer; }
          html body #root #Routes .Sidenavigation .Menu-nav ul .Dropdown-nav .Dropdown-li-title.active {
            background-color: #c1c5d7;
            border-top: 1px solid rgba(0, 0, 0, 0.2); }
          html body #root #Routes .Sidenavigation .Menu-nav ul .Dropdown-nav .Dropdown-li-title .Dropdown-icon {
            position: absolute;
            top: 15px;
            right: 10px;
            transition: all .2s; }
            html body #root #Routes .Sidenavigation .Menu-nav ul .Dropdown-nav .Dropdown-li-title .Dropdown-icon.active {
              transform: rotate(90deg); }
        html body #root #Routes .Sidenavigation .Menu-nav ul .Dropdown-nav .Dropdown-menu .Menu .Dropdown-ul {
          background-color: #e0e2eb; }
          html body #root #Routes .Sidenavigation .Menu-nav ul .Dropdown-nav .Dropdown-menu .Menu .Dropdown-ul .Dropdown-li {
            height: 50px;
            padding-left: 20px;
            transition: all .2s; }
            html body #root #Routes .Sidenavigation .Menu-nav ul .Dropdown-nav .Dropdown-menu .Menu .Dropdown-ul .Dropdown-li:hover {
              background-color: #c1c5d7; }
            html body #root #Routes .Sidenavigation .Menu-nav ul .Dropdown-nav .Dropdown-menu .Menu .Dropdown-ul .Dropdown-li a {
              color: #474f52;
              outline: none;
              line-height: 50px;
              cursor: pointer; }
              html body #root #Routes .Sidenavigation .Menu-nav ul .Dropdown-nav .Dropdown-menu .Menu .Dropdown-ul .Dropdown-li a:hover {
                text-decoration: none; }
  html body #root #Routes .Content {
    position: absolute;
    top: 75px;
    left: 200px;
    right: 0; }
    html body #root #Routes .Content .Loading {
      margin-top: 15%;
      text-align: center; }
      html body #root #Routes .Content .Loading img {
        height: 50px;
        width: 50px;
        animation: spinner infinite linear 3s; }

@keyframes spinner {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
